<?xml version="1.0" encoding="UTF-8"?>
<persistence>
    <properties>
        <property name="db.driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="db.url" value="jdbc:mysql://localhost:3306/pedidos_db?useSSL=false&amp;allowPublicKeyRetrieval=true&amp;serverTimezone=UTC"/>
        <property name="db.username" value="root"/>
        <property name="db.password" value="root"/>
    </properties>
</persistence>
